POSTGRES_DB=cybermanager
POSTGRES_USER=cybermanager
POSTGRES_PASSWORD=cybermanager
CM_DB_URL=jdbc:postgresql://localhost:5432/cybermanager
CM_DB_USERNAME=cybermanager
CM_DB_PASSWORD=cybermanager
CM_JWT_SECRET=01234567890123456789012345678901
